* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

*::selection {
    background: none;
}

*::-moz-selection {
    background: none;
}

body {
    background-color: #bbd4caec;
}

.navbar {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgb(23, 117, 43);

}

.navbar a {
    color: wheat;
}

.navto {
    background-color: rgb(23, 117, 43);
    color: wheat;
}

.collapse {
    justify-content: end;

}

.collapse a {
    padding: 5px;
    display: inline-block;
    color: wheat;

    font-size: 15px;

    text-decoration: none;
    font-size: 15px;
}

.collapse a:hover {

    color: wheat;
    font-size: 14px;

}

.baner {
    height: 150px;
    width: 100%;
    background-color: rgb(23, 117, 43);
    background-image: url(../img/fuerzafege2.jpg);
    background-position: center;
    background-size: cover;

}

.nos {
    display: flex;
    align-items: center;
    justify-content: center;
    color: wheat;
    height: 500px;
    width: 100%;
    background-color: rgb(23, 117, 43);
}

.rownos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.titlenos {

    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;

}

.parrafonos {


    margin-bottom: 15px;
}

.btn {
    margin-bottom: 10px;
    height: 40px;
    width: 90px;


}

.btn a {
    align-items: center;
    justify-content: center;
    color: antiquewhite;

}

.slide {
    margin-top: 50px;
}

.textproduct {
    text-align: center;
    background-color: #308542;
}

.prod {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 120px;

}

.titleprod {
    margin-top: 20PX;
    text-align: center;
}

.prodd {
    gap: 190px;
    justify-content: center;
}

.form {
    height: 300px;

    display: grid;
    gap: 20px;
    padding: 50px;
    margin-bottom: 30px;

}




.footer {
    width: 100%;
    height: 100px;
    background-color: #308542;
    text-align: center;
    margin-top: 50px;
}

.footer ul {
    display: flex;
    list-style: none;
    justify-content: center;
    font-size: 30px;
    letter-spacing: 20px;
    margin-top: 5px;
}

.footer h3 {
    text-align: center;
    font-size: 15px;
    color: rgb(255, 255, 255);
}

.what {
    height: 40px;
    width: 40px;
    background-color: seagreen;
    color: aliceblue;
    position: fixed;
    right: 10px;
    bottom: 10px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    font-size: 25px;
}

.what a {
    color: white;
}


@media screen and (min-width:480px) and (max-width:763px) {

    .titlenos,
    .titlenos {
        font-size: 50px;
    }

    .parrafonos {
        text-align: center;
    }



    .rownos {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }


    .prodd {
        gap: 100px;
        justify-content: center;
    }

}

@media screen and (min-width:764px) and (max-width:1023px) {

    .nos,
    .nos {
        height: 390px;
    }

    .rownos {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }


    .parrafonos {
        text-align: center;
    }

    .titlenos,
    .titlenos {
        font-size: 60px;
    }




}

@media screen and (min-width:1024px) {

    .nos,
    .nos {
        height: 390px;
    }

    .parrafonos {
        text-align: center;
    }


    .titlenos,
    .titlenos {
        font-size: 70px;
    }

    .rownos {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }



}